<div class="row clearfix">
	<% if attendance_item.completed? %>
		<div class="complete">
			<%= link_to complete_attendance_list_attendance_item_path(@attendance_list, attendance_item.id), method: :patch do %>
				<i style="opacity: 0.4;" class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="attendance_item">
			<p style="opacity: 0.4;"><strike><%= attendance_item.content %></strike></p>
		</div>
		<div class="trash">
			<%= link_to attendance_list_attendance_item_path(@attendance_list, attendance_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% else %>
		<div class="complete">
			<%= link_to complete_attendance_list_attendance_item_path(@attendance_list, attendance_item.id), method: :patch do %>
				<i class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="attendance_item">
			<p><%= attendance_item.content %></p>
		</div>
		<div class="trash">
			<%= link_to attendance_list_attendance_item_path(@attendance_list, attendance_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% end %>
</div>